<div class="mt-4">
    <h3>Đăng khóa học</h3>

    <form method="post" action="/courses/store">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="name" name="name">
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <input type="text" class="form-control" id="description" placeholder="Mô tả khóa học" name="description">
        <div class="form-group">
            <label for="exampleInputEmail1">videoId</label>
            <input type="text" class="form-control" id="videoId" placeholder="videoId" name="videoId">
        <div class="form-group">
            <label for="level">Level</label>
            <input type="text" class="form-control" id="level" placeholder="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>